nav {
    padding: 1.5rem;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    z-index: 1000; 
    transform: none; 
}

/* Styling for the logo in the navbar */
.nav__logo {
    font-size: 2rem;
    font-weight: 600;
    color: #0d213f;
    cursor: pointer;
}

/* Styling for a span within the logo */
.nav__logo span {
    color: #3685fb;
}

/* Styling for the icon in the navbar */
.nav__icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* Styling for the navigation links */
.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

/* Styling for individual links in the navigation */
.link a {
    padding: 0 1rem;
    color: #0d213f;
    transition: 0.3s;
}

/* Hover effect for individual links in the navigation */
.link a:hover {
    color: #3685fb;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
    .nav__logo {
        margin-right: auto;
    }

    .nav__icon {
        display: block;
    }

    .nav__links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .nav__links.active {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin: auto;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        border-radius: 0.5rem;
        z-index: 1001; 
        animation: slideDown 0.5s ease-in-out;
    }
}

/* Keyframes for slide down animation */
@keyframes slideDown {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Button styles */
.btn1 {
    border: 2px solid #3685fb;
    background-color: white;
    color: black;
    border-radius: 50px;
}

.btn1:hover {
    background-color: #3685fb;
    color: white;
}

.btn2 {
    border: 2px solid #3685fb;
    background-color: white;
    color: black;
    border-radius: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.btn2:hover {
    background-color: #3685fb;
    color: white;
}